<include file="common/header"/>
  <div id="main">
    <div class="wrapper">
      <div class="w-fly-mr">
        <div class="w-fly-cnt">
          <div class="position"><a href="/">首页</a> <i>|</i> <strong>关于我们</strong></div>
          <section>
            <p>ISweek工采网是中国高科技门户网站OFweek推出的工业科技产品直销平台，所有产品均来自于原始生产厂商直接供货，非第三方转售，所以可以提供用户优惠的价格，高效的技术支持和原厂的质量保证及售后服务。ISweek工采网汇集了来自全球的高品质工业科技产品，致力于为全球工业科技产品的采购商，供应商，贸易商，生产制造商提供全产业链的一站式产品销售和采购服务。</p>
            <p>OFweek--中国高科技行业综合门户网站，目前拥有国内外行业会员200余万名，OFweek行业网站涵盖照明、半导体照明、LED、太阳能光伏、光通讯、激光、光学、显示、电子工程、工控、智能电网、仪器仪表、节能、环保、风电、电源、新材料、电力、通信、物联网、机器人，汽车，医疗等高科技领域，OFweek面向行业企业提供全面的广告，数据，活动，会议，在线展览，内外贸B2B，人才，研究报告，行业咨询，投融资等深度服务，成为中国目前成长最快的行业电子商务综合平台。 </p>
            <p>科技改变世界，ISweek和OFweek始终致力于和众多优秀的合作者一起不断努力,快速成长,成为用户最有价值的合作伙伴。</p>
          </section>

          <nav>
            <a href="http://www.isweek.com" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/logo-isweek.png" alt=""></a>
            <a href="http://www.ofweek.com" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/logo-ofweek.png" alt=""></a>
            <!--
            <a href="http://b2b.ofweek.com" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/logo-ofweekb2b.png" alt=""></a>
            -->
            <a href="http://www.caikeji.com" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/logo-caikeji.png" alt=""></a>
            <a href="http://hr.ofweek.com" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/logo-ofweekhr.png" alt=""></a>
          </nav>
        </div>
      </div>
      <include file="common/sidebar"/>
    </div>
  </div>
<include file="common/footer"/>