  <footer id="footer">
    <div class="wrapper">
      <div class="links">
        <a class="<?php if($curr_menu_key == 'SourcingService'){ echo 'on'; } ?>" href="/SourcingService.html">委托采购</a>
      </div>
      <div class="help clearfix">
        <dl class="support clearfix">
          <dt>客户支持</dt>
          <dd><a class="skype" href="http://wpa.qq.com/msgrd?v=3&uin=2913816085&site=qq&menu=yes" target="_blank" rel="nofollow">QQ:2913816085</a></dd>
          <dd><span class="tel" >0755-83289071 <i class="devide"></i> 0755-83289035</span></dd>
          <dd><a class="email" href="mailto:sales@isweek.cn" target="_blank" rel="nofollow">sales@isweek.cn</a></dd>

<!--
          <dd><a class="online" href="javascript:void();" target="_blank" rel="nofollow">Online Support</a></dd>
          <dd><a class="skype" href="javascript:void();" target="_blank" rel="nofollow">Skype</a></dd>
          <dd><a class="msn" href="javascript:void();" target="_blank" rel="nofollow">MSN</a></dd>
-->
        </dl>
<!--
        <dl class="connect">
          <dt>关注工采网</dt>
          <!--<dd><a class="facebook" href="https://www.facebook.com/isweekb2c" title="Connect with us on facebook" target="_blank" rel="nofollow">facebook</a></dd>
          <dd><a class="twitter" href="https://twitter.com/isweekb2c" title="Connect with us on twitter" target="_blank" rel="nofollow">twitter</a></dd>
          <dd><a class="googleplus" href="https://plus.google.com/114361625880192443581/posts" title="Connect with us on google+" target="_blank" rel="nofollow">google+</a></dd>
          <dd><a class="sinaweibo" href="" title="Connect with us on facebook" target="_blank" rel="nofollow"></a></dd>
          <dd><a class="txweibo" href="" title="Connect with us on twitter" target="_blank" rel="nofollow"></a></dd>
          <dd><a class="qqzone" href="" title="Connect with us on google+" target="_blank" rel="nofollow"></a></dd>
          <dd><a class="footer-email" href="" title="Connect with us on google+" target="_blank" rel="nofollow"></a></dd>
        </dl>
-->
        <!-- <dl class="about">
          <dt>关于ISweek工采网</dt>
          <dd>
            <p>
			   ISweek工采网是中国高科技门户网站<a href="http://www.ofweek.com" target="_blank" style="text-decoration: underline;">OFweek</a>推出的工业科技产品直销平台,ISweek工采网汇集了来自全球的高品质工业科技产品，致力于为全球工业科技产品的采购商，供应商，贸易商，生产制造商提供全产业链的一站式产品销售和采购服务。
            </p>
            <p><a href="http://www.ofweek.com" target="_blank" style="text-decoration: underline;">OFweek</a> --中国高科技行业综合门户网站，目前拥有国内外行业会员200余万名，<a href="http://www.ofweek.com" target="_blank" style="text-decoration: underline;">OFweek</a> 行业网站涵盖照明、半导体照明、LED、太阳能光伏、光通讯、激光、光学、显示、电子工程、工控、智能电网、仪器仪表、节能、环保、风电、电源、新材料、电力、通信、物联网、机器人，汽车，医疗等高科技领域，<a href="http://www.ofweek.com" target="_blank" style="text-decoration: underline;">OFweek</a>面向行业企业提供全面的广告，数据，活动，会议，在线展览，内外贸B2B，人才，研究报告，行业咨询，投融资等深度服务，成为中国目前成长最快的行业电子商务综合平台。</p>
			<p>科技改变世界，<a href="http://www.isweek.cn" target="_blank" style="text-decoration: underline;">ISweek</a>和<a href="http://www.ofweek.com" target="_blank" style="text-decoration: underline;">OFweek</a>始终致力于和众多优秀的合作者一起不断努力,快速成长,成为用户最有价值的合作伙伴。</p>
          </dd>
        </dl> -->
      </div>
      <div class="copyright">
        <p class="txt">© 2014 ISweek.cn 版权所有</p>
        <p class="txt" style="text-align:right;"><a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备06087881号-16
</a></p>
      </div>
    </div>
  </footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53583783-1', 'auto');
  ga('send', 'pageview');

</script>

  <!-- CNZZ 统计代码 -->
  <div style="display: none;">
  <script src="http://v1.cnzz.com/stat.php?id=1253484179&web_id=1253484179" language="JavaScript"></script>
  </div>
</body>
</html>
