<include file="common/header"/>
  <div id="main">
    <div class="wrapper">
      <div class="w-fly-mr">
        <div class="w-fly-cnt">
          <div class="position"><a href="/">首页</a> <i>|</i> <strong>联系我们</strong></div>
          <section>
            <!-- <h3>Shenzhen:</h3> -->
            <ul>
              <li class="address">地址: 广东省深圳市南山区高新南一道中国科技开发院3号楼16层</li>
              <li class="tel">电话: 0755-83289071</li>
              <li class="fax">传真: 0755-83289053</li>
            </ul>
          </section>

          <section>
            <ul>
              <li style="padding-left:0; background:none;">如有意成为工采网供应商，欢迎垂询:</li>
              <li class="email"><a href="mailto:supplier@isweek.cn" target="_blank" rel="nofollow">supplier@isweek.cn</a></li>
            </ul>

            <div class="live-chat fn-hide"><!-- BEGIN Comm100 Live Chat Button Code --><a href="#" target="_blank" onclick="comm100_10001561.openChatWindow(event,2534,-1);return false;"><img style="border:0px" id="comm100_ButtonImage" src="https://solution.comm100.cn/livechatserver/BBS.aspx?siteId=10001561&amp;planId=2534&amp;partnerId=-1"></a><script src="https://solution.comm100.cn/livechatserver/js/LiveChat.js?siteId=10001561&amp;planId=2534&amp;partnerId=-1" type="text/javascript"></script><!-- End Comm100 Live Chat Button Code --></div>
          </section>

          <section>
            <h3>我们在这里:</h3>
            <p><a href="https://mapsengine.google.com/map/embed?mid=zDWVoRFNUaBE.kRUHfWp5VCxU" target="_blank" rel="nofollow"><img src="__ROOT__/statics/front/img/map.jpg" alt="地图"></a></p>
          </section>
        </div>
      </div>
      <include file="common/sidebar"/>
    </div>
  </div>
<include file="common/footer"/>